/* Write your CSS here */
.nf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.heading {
  font-family: 'Roboto';
  font-size: 50px;
}
